
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #1f2937;
    color: white;
    padding:10px  20px 80px ;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 20px 120px;

}

nav ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}


a {
    color: white;
    text-decoration-line: none;
    font-size: 18px;
}

.cabecalho 
 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 120px;
  gap: 40px;
}

.text-header {
  max-width: 500px;
    display: flex;
  flex-direction: column;
  gap: 20px;
}

.img-header {
  width: 520px;
  height: 250px;
  background-color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}
.text-header h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
}

.text-header p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.4;
}

button {
 background-color: #3882f6;
  color: white;
  border: none;
  padding: 10px 32px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}

.info {
    text-align: center ;
    padding-top: 10px;
    font-size: 36px;
  font-weight: 900;
  margin: 40px 0
}

.info-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

.info-item {
  text-align: center;
  max-width: 170px;
  font-size: 24px;
  
  
}

.info-item img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 3px solid #3882f6;
  margin-bottom: 10px;
}
.card {
    display: flex;
    background-color: #3882f6;
    color: white;
    height: 150px;
    align-items: center; 
     max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    padding-bottom:10px ;
    padding-top: 10px;
    justify-content: space-between;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    
}

.card button {
  background-color: transparent;
  border: 2px solid white;
}

.citacao {
    
  background-color: #e5e7eb;
  font-size: 28px;
  font-weight: 300;
  padding: 80px 200px;
  text-align: center;
  font-style: italic;

}